<h1>Searchable Pagination</h1>
<div *ngIf="bookings && !service.isLoading">
  <input #searchTerm (keyup)="search(searchTerm.value)" placeholder="Search bookings..."/>
  <ul>
    <li *ngFor="let booking of bookings.data">{{booking.description}}</li>
  </ul>
  <p>Showing booking {{bookings.from}} to {{bookings.to}} of {{bookings.total}}</p>
  <p>Page {{bookings.current_page}} of {{bookings.last_page}}</p>
  <button (click)="prevPage()" [disabled]="!bookings.prev_page_url" >Prev</button>
  <button (click)="nextPage()" [disabled]="!bookings.next_page_url">Next</button> 
</div>
<p *ngIf="service.isLoading">Loading...</p>